:root {
	/*  Body  */
	--color-white: #ffffff;
	--color-black: #000000;
	--body-postition: relative;
	--body-text-align: center;
	--main-part-height: 100vh;
	--body-font-family: "Merienda", cursive;
	--main-font-family: "Lato", sans-serif;
	/*	Navbar Style	*/
	--navbar-bg: #0e6ba8;
	--navbar-active-link-bg: #d00000;
	--navbar-font-weight: 600;
	--btn-danger-bg: #d00000;
	--btn-danger-border: #9d0208;
	/*  Main Section 1  */
	--section1-bg-color: #000420;
	--text-stroke-width: 2px;
	--animation-opacity1: 1;
	--animation-opacity2: 0.5;
	--animation-duration: 32s;
	/*  Main Section 3  */
	--section3-bg-color: #172a3a;
}
@import "navbar";
@import "section1";
@import "section2";
@import "section3";

body {
	position: var(--body-postition);
	text-align: var(--body-text-align);
	font-family: var(--body-font-family);
}
/*	Main Part Style  */
.navbar,
.row {
	font-family: var(--main-font-family);
}
#welcome-section {
	height: var(--main-part-height);
}
@media only screen and (min-width: 768px) {
	#contact-section {
		height: var(--main-part-height);
	}
}
