/*  Main Section 1  */
/*    Animation Code	*/
@keyframes anim {
	0% {
		color: var(--section1-bg-color);
		background-color: var(--section1-bg-color);
		-webkit-text-stroke: var(--text-stroke-width) var(--section1-bg-color);
		opacity: var(--animation-opacity2);
	}
	12.5% {
		color: var(--section1-bg-color);
		background-color: var(--section1-bg-color);
		-webkit-text-stroke: var(--text-stroke-width) var(--color-white);
		opacity: var(--animation-opacity1);
	}
	25% {
		color: var(--color-white);
		background-color: var(--section1-bg-color);
		-webkit-text-stroke: var(--text-stroke-width) var(--section1-bg-color);
		opacity: var(--animation-opacity2);
	}
	37.5% {
		color: var(--color-white);
		background-color: var(--section1-bg-color);
		-webkit-text-stroke: var(--text-stroke-width) var(--color-white);
		opacity: var(--animation-opacity1);
	}
	50% {
		color: var(--color-white);
		background-color: var(--color-white);
		-webkit-text-stroke: var(--text-stroke-width) var(--color-white);
		opacity: var(--animation-opacity2);
	}
	62.5% {
		color: var(--color-white);
		background-color: var(--color-white);
		-webkit-text-stroke: var(--text-stroke-width) var(--section1-bg-color);
		opacity: var(--animation-opacity1);
	}
	75% {
		color: var(--section1-bg-color);
		background-color: var(--color-white);
		-webkit-text-stroke: var(--text-stroke-width) var(--color-white);
		opacity: var(--animation-opacity2);
	}
	87.5% {
		color: var(--section1-bg-color);
		background-color: var(--color-white);
		-webkit-text-stroke: var(--text-stroke-width) var(--section1-bg-color);
		opacity: var(--animation-opacity1);
	}
	100% {
		color: var(--section1-bg-color);
		background-color: var(--section1-bg-color);
		-webkit-text-stroke: var(--text-stroke-width) var(--section1-bg-color);
		opacity: var(--animation-opacity2);
	}
}

/* The element to apply the animation to */
#welcome-section {
	color: var(--color-white);
	background-color: var(--section1-bg-color);
	animation-name: anim;
	animation-duration: 0s;
	animation-iteration-count: infinite;
}
