:root {
	--color-white: #ffffff;
	--color-black: #000000;
	/*	Navbar Style	*/
	--navbar-bg: #0e6ba8;
	--navbar-active-link-bg: #d00000;
	--navbar-font-weight: 600;
	--btn-danger-bg: #d00000;
	--btn-danger-border: #9d0208;
	/*  Main Section 1  */
	--section1-bg-color: #000420;
	--text-stroke-width: 2px;
	--animation-opacity1: 1;
	--animation-opacity2: 0.5;
}
@import "navbar";
@import "section1";
@import "section3";

body {
	position: relative;
	text-align: center;
}

/*	Main Part Style  */
#contact-section,
#welcome-section {
	height: 100vh;
}
a:link {
	color: var(--color-black);
}
